<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Doctor</title>
    <link href="/index.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" id="Home" href="/index.html">
            <img src="/Assets/icon.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            YourDoctor
          </a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" id="services" href="/Components/Servics/Services.html">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="login" href="/Components/Login/login.html">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="signup" href="/Components/SignUp/signup.html">Sign-up</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br><br><br>
      <div class="content">
        <h1>Here you can find YourDoctor's services !</h1>
        <br><br><br>
        <p class="d-flex flex-direction: column justify-content-start" id ="paragraph">
            The Doctor
            <br>
            Create a doctor account: The practice management system allows doctors to register in the platform as a doctor, this is done by completing a registration form.
            <br><br>
            Authenticate: The practice management system provides doctors with an authentication form that they must fill out in its fields to authenticate.
            <br><br>
            Manage medical records: The practice management system allows doctors to manage medical records, including viewing a medical record and adding a medical record.
            <br><br>
            Prescribe treatment: The practice management system allows doctors to prescribe the necessary treatments to the patient.
            <br><br>
            Provide Certificate: The practice management system allows doctors to provide certificates requested by patients.
            <br><br>
            Carry out a teleconsultation: The practice management system allows doctors to carry out a teleconsultation by providing a corresponding interface.
            <br><br><br>
            The Secretary
            <br>
            Create secretary account: The practice management system allows secretaries to register in the platform as a secretary, this is done by completing a registration form.
            <br><br>
            Authenticate: The practice management system provides secretaries with an authentication form that they must fill in its fields to authenticate.
            <br><br>
            Manage patient records: The practice management system allows secretaries to manage patient records, including adding a patient record and modifying a patient record.
            <br><br>
            Manage CNAM: The practice management system allows secretaries to manage CNAM files, including adding, modifying and deleting a CNAM file.
            <br><br>
            Manage payments: The practice management system allows secretaries to manage payments, including adding a receipt, adding expenses and viewing the balance sheet.
            <br><br>
            Manage Appointments: The practice management system allows healthcare professionals to manage their appointments, including booking appointments, canceling appointments and changing appointments.
            <br><br><br>
            The Patient
            <br>
            Create patient account: The practice management system allows patients to register in the platform as a patient, this is done by completing a registration form.
            <br><br>
            Authenticate: The practice management system provides patients with an authentication form that they must fill out its fields to authenticate.
            <br><br>
            Search for a Doctor: The practice management system provides patients with a search bar containing several options; search by name, search by specialty and search by geographic location, to make it easier to find a doctor.
            <br><br>
            Make an appointment: The practice management system provides patients with an appointment form to complete in order to make an appointment.
            <br><br>
            Request a teleconsultation: The practice management system provides patients with the power to request a teleconsultation by completing a teleconsultation form.
            <br><br>
            Edit personal information: The practice management system provides patients with full access to their personal information from where they can edit it.
            <br><br><br>
            <img src="/Assets/bigicon.png" alt="Logo" width="600px" height="600px" class="d-flex flex-direction: column justify-content-end">
        </p>
      </div>
      <footer>
        <p>
          Created by : 
          <i><b>Eya Tiliouine |</b></i> 
          <i><b>Heni Ouerfelli |</b></i>
          <i><b>Ahmed Amine Toumi |</b></i>
          <i><b>Islem Zbidi </b></i>
        </p>
      </footer>
  </body>
</html>