#navbarNav{
    display: flex;
    justify-content: flex-end;
}

#login:active{
    background-color: lightgreen;
}

a:not(#Home):hover{
    background-color: papayawhip;
}
.content{
    margin-left: 10vw;
}
#paragraph{
    font-size: large;
}
h1{
    font-size: xx-large;
}