.full-page-background {
    background-image: url('/Assets/secretary.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
#navbarNav{
    display: flex;
    justify-content: flex-end;
}
a:not(#Home):hover{
    background-color: papayawhip;
}
.content{
    margin-left: 70vw;
    margin-right: 5vw;
}

#paragraph{
    font-size: xx-large;
}